APP_NAME = "RNP25 BACKEND"
PORT_OUT=4000
APP_ENV="dev"
DB_HOST="host.docker.internal"
DB_PORT=1433
DB_USERNAME= "sa"
DB_PASSWORD="MyP@rtner"
DB_NAME="DB_RNP25_LOCAL"
JWT_SECRET_KEY='rnp25-jwt-key'
ACCESS_TOKEN_TIMEOUT=1h
REFRESH_SECRET='rnp25-refresh-jwt-key'
REFRESH_TOKEN_TIMEOUT=100h
ASSETS_DIR=assets/
UPLOAD_PROFILES_DIR='profiles/'
UPLOAD_DIR='./uploads/'